node_modules/
.next/
dist/
build/
/.parcel-cache/
.env
.env.local
.env.*.local
.DS_Store
.vscode/
coverage/
npm-debug.log*
pnpm-lock.yaml
yarn.lock
package-lock.json
/.idea/
*.iml
/.cache
public/brand/*.svg
removed-unused/Calndar 2/
